<h1>Yea America!</h1>
<section class="norm">
	Yea America celebrates 3 important and pertinent things that protect us in life...God, the troops and family. 
<ol>
	<li><strong>God</strong> is The Protector and does not need a formal introduction as He defines it in His being...see Jesus and the Holy Spirit as well.</li>
	<li>The <strong>troops</strong> protect our country from tyranny and oppression. They protect the rights of the people and create order in a world with a plethora of chaos.</li>
	<li>The <strong>family</strong> protects the children and wife to be raised in a safe environment that points to Christ. Train up a child in the way he should go; even when he is old he will not depart from it. (Proverbs 22:6)</li>
</ol>
	  All 3 would sacrifice their lives for others. The ultimate sacrifice has already been paid (1 Timothy 1:15) and He teaches both countries and families where life, liberty and the pursuit of happiness are truly found. If you do not have something to celebrate this day, celebrate the fact that Someone died so that you could live. I think that is a lot to consider.
</section>
<section style="text-align:center;">
	<%= image_tag "american-soldier-with-gun.jpg", alt: "American-Soldier-with-Gun" %>
</section>
<br />
<br />
<br />
<br />
<br />