<h1>Location</h1>

<p>Horseshoe Bay, TX</p>
<p>We pile in up to 80 people in a small condominium that one day we believe will slide into the lake because of surpassing the weight the building can withstand. It is located on Lake LBJ.</p>
<section style="text-align: center; padding: 10px;">
<%= image_tag "Condo.jpg", alt: "The Size of the Place" %>
</section>