<h1>About Yea America</h1>
<p>Yea America began in 1993 when our grandmother, Dianne McCrea, wanted her grandchildren to understand what it meant to have the freedom in America we have and what the troops in uniform did for our country. She ensured that all of her grandchildren would go through life understanding the cost it took for us to be free.</p>